@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: linear-gradient(310deg, #64004b, #002f4b);
  font-size: 20px;
}

h1 {
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 8px;
}

h2 {
  font-size: 33px;
  font-weight: bolder;
}

h3 {
  font-size: 25px;
  font-weight: bolder;

  span {
    color: #ff4141;
  }
}
