@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: linear-gradient(310deg, #64004b, #002f4b);
  font-size: 20px;
}

h1 {
  font-size: 50px;
  font-weight: bolder;
}
